/*========================================
  リセット
========================================*/
body {
  margin: 0;
  padding: 0;
  color: rgba(46, 49, 49, 1);
  line-height: 150%;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

input[type="text"] ,
input[type="password"],
textarea
{
    padding: 0;
    border: none;
    border-radius: 0;
    outline: none;
    background: none;
}

button,
input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
}
/*========================================
  リンク
========================================*/
a,
a:active,
a:focus{
  color: rgba(46, 49, 49, 1);
}

a:hover{
  text-decoration: none;
}
/*========================================
  フォント
========================================*/
.num {
  display: block;
  font-size: 18px;
  color: #19CF86;
  min-width: 80px;
}

/* mapageとprofPageで使用 */
.prof-name {
  font-size: 18px;
  font-weight:bold;
}
/*========================================
  ヘッダ
========================================*/
header {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #333;
  background: white;
}

header h1 {
  float:left;
  padding-left:15px;
  text-align: center;
  font-size:18px;
  line-height:50px;
}

header h1 a {
  text-decoration: none;
  color: #19CF86;
}

/*========================================
  プロフィールページヘッダー
========================================*/
.profPage-headwrap {
  width: 100%;
  height: 400px;
  position: relative;
}

.profPage-head-img img{
  height: 340px;
  width: 100%;
  /* margin: 0 auto; */
  padding-left: 40px;
  padding-right: 40px;
  object-fit: cover;
  box-sizing: border-box;

}

.profPage-head-img-wrap {
  height: 210px;
  width: 210px;
  background: white;
  position: absolute;
  top: 210px;
  left: 100px;
  border-radius: 100px;
}

.profPage-main-img img{
  height: 204px;
  width: 204px;
  margin-top: 3px;
  margin-left: 3px;
  border-radius: 100px;
  object-fit: cover;
}

.profPage-statusList {
  height: 60px;
  width: 100%;
  margin-bottom: 3px;
  background: white;
}

.profPage-statusList ul{
  margin-left: 460px;
}

.profPage-statusList li {
  width: 80px;
  float: left;
  font-size: 12px;
  font-weight: bold;
  margin-right: 30px;
}

div .prof-btn-wrap {
  float:right;
  height: 60px;
  margin-right: 150px;
  /* line-height: 60px; */
  box-sizing: border-box;
}
.js-follow-btn ,
.profEdit-btn {
  font-size: 14px;
  font-weight: bold;
  color: #66757f;
  border: 1px solid #66757f;
  border-radius: 100px;
  padding: 6px 16px;
  margin: 13.5px;
  box-sizing: border-box;
}

.userInfo {
  width: 280px;
  padding: 0 20px;
  margin-top: 10px;
  box-sizing: border-box;
}

.username {
  font-size: 21px;
  font-weight: bold;
}

/*========================================
  ナビゲーション
========================================*/
#top-nav {
  position: relative;
  float: right;
  width:600px;
  height:50px;
}

#top-nav ul {
  position:absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 550px;
  height: 50px;
  line-height:60px;
  list-style: none;
}

#top-nav ul li {
  float: right;
}

nav a {
  font-size:12px;
  font-weight:bold;
  text-decoration: none;
  padding:10px 15px;
}


/*========================================
  レイアウト
========================================*/
.site-width {
  margin: 0 auto;
  width: 980px;
}

.page-3colum .site-width {
  width:1080px;
}

#main {
  min-height: 600px;
}

.page-1colum #main {
  Width: 100%;
}

.page-3colum {
  background: rgba(228, 233, 237, .5);
}

.page-3colum #main {
  width: 580px;
  background: white;
  float:left;
}

#contents {
  margin: 20 auto;
  overflow: hidden;
}

.page-3colum #contents {
  margin-top: 15px;
}

.page-title {
  text-align: center;
  padding-top: 20px;
}

/*========================================
  プロフィールバー
========================================*/
#profile-bar {
  float: left;
  min-height: 200px;
  width:280px;
  margin-right: 15px;
  overflow: hidden;
  position:relative;
}

.prof-head {
  height:95px;
  width: 280px;
}

.prof-img-head img{
  height:90px;
  width: 275px;
  margin: 0 auto;
  object-fit: cover;
  box-sizing: border-box;
}

.prof-body {
  height: 120px;
  width: 280px;
  background:white;
}

.avater-wrap {
  height: 74px;
  width: 74px;
  background:white;
  border: 2px white solid;
  border-radius: 50px;
  position: absolute;
  top: 60px;
  left:10px;
}

.prof-img-avater img{
  margin-left: 2px;
  margin-top: 2px;
  height: 70px;
  width: 70px;
  border-radius: 50px;
  object-fit: cover;
}

.prof-name-wrap {
  height: 50px;
  width: 170px;
  position: absolute;
  left: 95px;
}

.prof-statusList {
  height: 70px;
  width: 280px;
  padding: 13px;
  position:absolute;
  top: 140px;
  box-sizing: border-box;
}

.prof-statusList li {
  float:left;
  font-size: 12px;
  font-weight: bold;
  width: 80px;
}


/*========================================
  サイドバー
========================================*/
#side-bar {
  float: right;
  background: white;
  min-height:500px;
  width:190px;
  margin-left: 15px;
}


/*========================================
  フッター
========================================*/

/*========================================
  ページネーション
========================================*/
.pagination {
  position: relative;
  overflow: hidden;
}

.pagination-list {
  position: relative;
  left: 50%;
  float: left;
  padding-left: 0;
  list-style: none;
}

.pagination .list-item {
  position: relative;
  left: -50%;
  float: left;
  margin-right: 5px;
}

.pagination .list-item:last-child {
  margin-right: 0;
}

.pagination .list-item a {
  display: block;
  padding: 5px 10px;
  background: #eee;
  color: black;
  text-decoration: none;
}

.pagination .list-item.active a {
  background: #333;
  color: white;
}

.pagination .list-item a:hover {
  background: #333;
  color: white;
}
/*========================================
  検索エリア
========================================*/
/* ヘッダー内検索 */
.search-form {
  display: inline-block;
}

.search-column {
  display: inline-block;
  line-height: 50px;
  width: 250px;
}

.search-column input[type="text"] {
  display: inline-block;
  vertical-align: middle;
  border: none;
  border-bottom: 1.5px solid lightgray;
  width:180px;
  height:23px;
}

.search-column input[type="submit"] {
  border: none;
  margin:0;
  padding:0;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  font-weight: normal;
  background: #19CF86;
  color: white;
  padding:3px;
  border-radius: 4px;
  cursor: pointer;
}
/*========================================
  リスト
========================================*/

/*========================================
  ボタン
========================================*/
  .btn {
    padding: 15px 20px;
    text-decoration: none;
  }

  .btn .btn-mid {
    max-width: 150px;
  }
/*========================================
  フォーム
========================================*/
label {
  display: block;
}

label.err input {
  background: #f7dcd9;
}

input[type="text"],
input[type="password"] {
  display:block;
  margin: 7px auto;
  padding-left: 5px;
  border:1px solid #A3EBCE;
  border-radius: 4px;
  height:40px;
  width:275px;
  font-size: 15px;
  box-sizing:border-box;
  background:white;
}

textarea {
  margin: 7px auto;
  padding-left: 5px;
  border:1px solid #A3EBCE;
  border-radius: 4px;
  width:275px;
  font-size: 15px;
  box-sizing:border-box;
  background:white;
}

input[type="submit"] {
  display: block;
  font-size: 15px;
  padding: 15px 30px;
  background:white;
  font-weight: bold;
  color: #19CF86;
  border: 1px solid #19CF86;
  border-radius: 30px;
  margin: 10px auto;
}

input[type="text"]:focus {
  border:2px solid #A3EBCE;
}

input[type="password"]:focus {
  border:2px solid #A3EBCE;
}

textarea:focus {
  border:2px solid #A3EBCE;
}

.cancel-btn {
  display: block;
  font-size: 15px;
  padding: 15px 30px;
  background:white;
  font-weight: bold;
  color: gray;
  border: 1px solid gray;
  border-radius: 30px;
  margin: 0 auto;
}

.form-container {
  margin: 0 auto;
}

.page-1colum .form-container {
  margin: 80px auto;
}

.form {
  display: block;
  margin: 0 auto;
  padding: 30px;
  width: 400px;
  background: rgba(232, 236, 241, .6);
}

.msg-form {
  margin-top:40px;
  border-radius: 5px;
}

.form .title {
  margin-bottom: 30px;
  text-align: center;
}

.form > .area-msg {
  color: red;
  font-size: 15px;
  text-align: center;
}

.form .btn {
  display:block;
  margin: 0 auto;
}

.form .btn-container {
  margin-top: 25px;
  overflow: hidden;
}

/*========================================
  投稿
========================================*/

/* 投稿エリア */

.hidden-wrap {
  display:none;
}

.tweet-wrap {
  /* height: 60px; */
  background: #E8FAF2;
}

.tweet-wrap .form {
  min-height: 103px;
  width: 580px;
  padding: 3px 10px;
  box-sizing: border-box;
  overflow: hidden;
  background: #E8FAF2;

}

.tweet-wrap input[type="text"] {
  display: block;
  height: 40px;
  width: 560px;
  float: left;
}

.tweet-wrap input[type="submit"] {
  display: block;
  height: 38px;
  width: 100px;
  line-height: 4px;
  font-size: 13px;
  padding: 10px 5px;
  float: right;
}

.tweet-wrap .btn-mid {
  margin: 0;
}

.open-tweet-form {
  box-sizing:border-box;
  height: 60px;
  background: #E8FAF2;
  padding: 11px ;
}

.open-tweet-box {
  height: 38px;
  width: 500px;
  background: white;
  margin: 0 auto;
  padding: 8px;
  border-radius: 3px;
  box-sizing: border-box;
}

.open-tweet-box-msg {
  color: #19CF86;
  font-size: 14px;
}

.area-drop {
  float: left;
}

.form .area-drop{
  margin-bottom: 15px;
  width: 100%;
  height: 140px;
  background: #f6f5f4;
  color: #ccc;
  text-align: center;
  line-height: 150px;
  position: relative;
  box-sizing: border-box;
}
.form .input-file{
  opacity:0;
  width:100%;
  height:140px;
  position:absolute;
  top:0;
  left:0;
  z-index: 2; /* 必ずz-indexをつけないと登録画像を変更する際にドラッグ＆ドロップできなくなる*/
}
.form .prev-img{
  width:100%;
  height: inherit;
  position:absolute;
  top:0;
  left:0;
}

.form .imgDrop-container{
  width: 30%;
  float: left;
  padding-right: 15px;
  box-sizing: border-box;
}

.fa-image-wrap {
  float: left;
  margin: 3px 0 0 20px;

}

.fa-image {
  font-size: 27px;
  color: #A3EBCE;
  height: 24px;
  width: 24px;
}


/* 投稿一覧エリア */
.post-wrap {
  width: 100%;
  overflow: hidden;
}

.each-post-wrap {
  width: 100%;
  min-height: 90px;
  border: 1px solid #e6ecf0;
  overflow: hidden;
  position:relative;
}

.each-post-content {
  padding: 9px 12px;
}

.user-img {
  min-height: 90px;
  float: left;
  margin-right: 9px;
  margin-top: 4px;
}

.user-img img {
  height: 48px;
  width: 48px;
  object-fit: cover;
  border-radius: 50%;
}

.post-user-name {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
}

.post-media_path img{
  height: 100px;
  width: 100px;
}

.bottom-status {
  margin-top: 20px;
}

.post-status {
  font-size: 14px;
  color: rgba(171, 183, 183, 1);
}

/* お気に入りAjaxで色変化 */
.active{
  color: red;
}
/*========================================
  メッセージ
========================================*/
/* DM送信先イメージ設定 */
.list-dm-user {
  height: 35px;
}

.list-dm-user div{
  display:inline-block;
  vertical-align: middle;
}

.list-dm-user label {
  display: inline-block;
}

.to-user-img img{
  height: 34px;
  width: 34px;
  object-fit: cover;
  border-radius: 50%;
}


/* DMメッセージ欄 */
.content-wrap{
  width: 700px;
  margin: 10px auto;
  border: 1px solid lightgray;
}

.area-board {
  min-height: 300px;
  max-height: 400px;
  width: 600px;
  margin: 0 auto;
  overflow: scroll;
}

.board-header{
  height: 65px;
  width: 100%;
  border-bottom: 1px solid lightgray;

}

.header-wrap {
  width: 400px;
  margin: 0 auto;
  line-height: 65px;
  overflow: hidden;
}

.area-board img{
  height: 34px;
  width: 34px;
  object-fit: cover;
  border-radius: 50%;
}

.board-user-img {
  display: inline-block;
  height: 45px;
  width:45px;
  vertical-align: middle;
}

.board-user-img img {
  height: 44px;
  width: 44px;
}

.board-user-name {
  text-align: center;

  display: inline-block;
  margin-left: 5px;
  font-size: 24px;
  font-weight: bold;
  width:70%;
  vertical-align: middle;
}

.msg-area-wrap {
  margin: 5px auto;
  width: 550px;
  border-left: 1px solid #A3EBCE;
  border-right: 1px solid #A3EBCE;

}

.each-msg {
  margin: 25px 0;
}

.msg-left {
  margin-left: 10px;
}

.msg-right {
  margin-left:190px;
}

.left-user-img{
  display: inline-block;
  width:35px;
  height: 35px;
  vertical-align: middle;
}

.right-user-img{
  display: inline-block;
  width:35px;
  height: 35px;
  vertical-align: middle;
}


.msg-wrap {
  display: inline-block;
  width:300px;
  padding: 8px;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 10px;
}

.left-msg-wrap {
  background: #e6ecf0;
}

.right-msg-wrap {
  background: #1da1f2;
  color: white;
}

/*========================================
  フォームグループ
========================================*/

/*========================================
  jQueryレイヤーフォーム
========================================*/
#whiteLayer{
  display:none;
  position:fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background:rgba(238, 238, 238, .4);
  filter:alpha(opacity=60);
}

#overLayer{
  display:none;
  position:absolute;
  float: left;
  background: #E8FAF2;
  min-height: 300px;
  width:280px;
  margin-right: 15px;
  overflow: hidden;
  /* z-index: 10; */
}

.msg-slide{
  display: none;
}

.msg-slide-change{
  z-index: 10;
  position: fixed;
  top: 50px;
  width:100%;
  height:40px;
  background: rgba(122,206,230,0.6);
  text-align: center;
  font-size:16px;
  line-height: 40px;
}
.err-msg-slide-change{
  z-index: 10;
  position: fixed;
  top: 50px;
  width:100%;
  height:40px;
  background: rgba(214, 69, 65, 0.8);
  text-align: center;
  font-size:16px;
  color: white;
  line-height: 40px;
}

/* post部分の編集・削除のウインドウ表示 */
.js-open-edit-menu {
  display: inline-block;
  width: 50px;
  float: right;
  margin-bottom: 50px;
  cursor: pointer;
}

.post-edit-wrap{
  display: none;
  width: 80px;
  height: 50px;
  border: 1px solid lightgray;
  border-radius: 3px;

  /* class each-post-contentをrelativeとして */
  position:absolute;
  right: 20px;
  top: 30px;
}

.post-edit-wrap li {
  padding-left: 10px;
}

.post-edit-wrap a{
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
}
